/* Estilos para el formulario de inicio de sesión */
.login-form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form-container label,
.login-form-container input,
.login-form-container button {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}

.login-form-container button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.login-form-container button:hover {
  background-color: #45a049;
}

.error-message {
  color: #ff0000;
}

.success-message {
  color: #4caf50;
}
